@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap");

.container {
  font-family: "montserrat", sans-serif;
  margin: 0 auto;
  width: 60%;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

.radio {
  display: flex;
  flex-direction: column;
}

.subcomponent {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form-control {
  display: flex;
}

.form__subcomponent {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.subcomponent__items {
  display: flex;
  flex-direction: column;
}

select {
  background-color: rgb(216, 212, 212);
  padding: 10px 0px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.textfield,
.datefield,
textarea {
  margin-bottom: 10px;
  padding: 15px 5px;
  background-color: rgb(216, 212, 212);
  border-radius: 5px;
}

input,
textarea {
  border: none;
}

input.textfield,
input.datefield,
textarea,
select {
  box-shadow: 2px 2px 2px #aaaaaa;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}
